.seat-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* 6개씩 한 줄 */
  gap: 10px;
  width: fit-content;
  margin: 30px auto;
}

.seat {
  width: 45px;
  height: 45px;
  background: #c7c7c7;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.seat.selected {
  background: #FF5722;
  color: #fff;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}